.wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 25px;
  flex-wrap: wrap;
}

.checkbox_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.inputs_wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
