$main_background: #5fcaa1;
$base_background_cube: #337ab7;
$in_breake_background_cube: #1f497d;
$burger_btn_menu_active: #5fcaa1;
$burger_btn_menu_base: gray;
$background_content_burger_menu: #337ab7;
