@import "../../../../constants/scss/constants.scss";

.wraper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 40px;
  border-radius: 5px;

  text-transform: uppercase;
  text-decoration: none;

  transition: all 0.2s ease;
  background-color: $background_btns;

  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }
}

.btn_title {
  color: $btns_title_color;
  text-align: center;
}
