$gap: 0px;

%base {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  gap: $gap;
}

%mobile {
  //   display: grid;
  //   grid-template-columns: repeat(2, 1fr);
  //   grid-template-rows: repeat(2, 1fr);
  //   gap: $gap;
}

.wrapper {
  @extend %base;
}

.displays_body {
  @extend %base;
  flex-wrap: wrap;
}
