$gap: 0px;

%base {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

%mobile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: $gap;
}

.wrapper {
  @extend %base;
}

.wrapper_display {
  @extend %base;
}

.wrapper_three {
  @extend %mobile;

  > :last-child {
    grid-column: 1 /3;
  }
}

.wrapper_four {
  @extend %mobile;
}
