@import "../../constants/scss/constants.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.display_body {
  display: grid;
  grid-template-columns: 1fr 1fr 0.1fr;
}

.display_noDotter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_display {
  text-transform: uppercase;
  margin-top: 15px;
  color: $display_title_color;
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .title_display {
    font-size: 12px;
    margin-top: 5px;
  }
}
/* Iphone 5 */
@media (max-width: 320px) {
  .title_display {
    font-size: 10px;
    margin-top: 5px;
    margin-left: 10px;
  }
}
