@import "../../constants/scss/constants.scss";

$width: 2vw;
$height: 2vw;

%base_style {
  height: $height;
  width: $width;
  position: fixed;
  border-radius: 5px;
}

.wrapper {
  width: $width;
  height: $height;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cube_front {
  @extend %base_style;
  background-color: $base_background_cube;
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  $size: 2.2vw;

  .wrapper {
    width: $size;
    height: $size;
  }

  .cube_front {
    width: $size;
    height: $size;
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  $size: 2vw;

  .wrapper {
    width: $size;
    height: $size;
  }

  .cube_front {
    width: $size;
    height: $size;
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  $size: 5vw;

  .wrapper {
    width: $size;
    height: $size;
  }

  .cube_front {
    width: $size;
    height: $size;
  }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
  $size: 5vw;

  .wrapper {
    width: $size;
    height: $size;
  }

  .cube_front {
    width: $size;
    height: $size;
  }
}
/* Iphone 5 */
@media (max-width: 320px) {
}
