@import "../../constants/scss/constants.scss";

%base {
  position: fixed;
  top: 0px;
  left: 0px;
}

.wrapper {
  @extend %base;
  z-index: 0;
}

.wrapper_active {
  @extend %base;
  z-index: 1;
}

.btn_wraper {
  width: 100vw;
  background-color: $background_content_burger_menu;
}
