@import "../../constants/scss/constants.scss";

.wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.btn_wraper {
  width: 100vw;
  background-color: $background_content_burger_menu;
}
