@import "../../constants/scss/constants.scss";

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
  animation: animo 2.5s forwards;
}

.btns_wrapper {
  width: 50vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  gap: 10px;
}

.pomadoro_btns_value_wrapper {
  width: 50vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.display_wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.break_title_wrapper {
  color: $in_breake_background_cube;
  font-size: 30px;
  margin-bottom: 10px;
}

@keyframes animo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .pomadoro_btns_value_wrapper {
    width: 100vw;
    padding: 0px 10px 0px 10px;
  }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .pomadoro_btns_value_wrapper {
    width: 100vw;
    padding: 0px 10px 0px 10px;
  }
}
/* Iphone 5 */
@media (max-width: 320px) {
  .pomadoro_btns_value_wrapper {
    width: 100vw;
    padding: 0px 10px 0px 10px;
  }
}
